@import "../variables.scss";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 265px;
  background-color: $violet;
  text-align: center;

  .header__container {
    max-width: 846px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  
    .header__button {
      width: 81px;
      height: 38px;
      border: 1px solid #F8F8F8;
      border-radius: 8px;
      background-color: transparent;
      font-size: 16px;
      line-height: 136.19%;
      color: #F8F8F8;
      cursor: pointer;
      position: absolute;
      top: -24px;
      right: -136px;
      &:hover {
        background-color: #fff;
        color: #000;
      }

                @media screen and (max-width: 1120px) {
                  right: 0px;
                }

                     @media screen and (max-width: 850px) {
                       right: 30px;
                     }

                            @media screen and (max-width: 850px) {
                               right: 30px;
                             }

                                  @media screen and (max-width: $mobile) {
                                    border: 1px solid transparent;
                                    width: 0;
                                    height: 0;
                                    cursor: default;
                                    &:hover {
                                      background-color: transparent; 
                                    }
                                  }
      
        @media screen and (max-width: $mobile) {
          .svg-icon {
              position: relative;
              display: inline-block;
              cursor: pointer;
              &::after {
                position: absolute;
                content: "";
                background-image: url("../images/exit-mobile.svg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 18px;
                height: 18px;
                top: -24px;
                right: 0;
              }
            }
        }
      
             @media screen and (max-width: $mobile) {
               .label {
                display: none;
               }
             }
    }

    .header__title {
      font-size: 64px;
      line-height: 75px;
      color: #FFFFFF;
      font-weight: 400;

      @media screen and (max-width: $mobile) {
          font-size: 36px;
          line-height: 42px;
        }
    }

    .header__text {
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #F8F8F8;
      font-weight: 400;
      margin-top: 16px;

      @media screen and (max-width: $mobile) {
          font-size: 16px;
          line-height: 19px;
          text-align: center;
        }
    }
  }
}