@import "../variables.scss";


.layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow: hidden;

  .form__wrapper {
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 16px;

    

    .title {
      font-size: 20px;
      line-height: 23px;
      font-weight: 400;
      margin-bottom: 16px;
    }

    .login {
      font-size: 16px;
      line-height: 136.19%;
    
      &__item {

        &-error {
          margin-top: 8px;
          padding-bottom: 16px;

          .input {
            width: 468px;
            height: 48px;
            background: #F8F8F8;
            border-radius: 8px;
            border: none;
            font-size: 14px;
            line-height: 16px;
            padding-left: 16px;
            position: relative;
          }

        }

        .password-error {
          position: relative;
          &:after {
              content: "";
                position: absolute;
                background-image: url("../images/input.svg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 24px;
                height: 24px;
                top: 32%;
                right: 8px;
                transform: translateY(-50%);
                z-index: 5 !important;
          }
        }
      }

      .login__button {
        max-width: 468px;
        width: 100%;
        max-height: 48px;
        height: 100%;
        background-color: $violet;
        border-radius: 8px;
        padding: 13px 0;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        margin-top: 8px;
        
      }
    }
  }
}