@import "./normalize.scss";
@import "./variables.scss";
// @import "./mixins.scss";
@import "./pages/loginPage.scss";
@import "./components/headerTeam.scss";
@import "./pages/teamPage.scss";
@import "./components/cardTeam.scss";
@import "./pages/cardPage.scss";


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  flex: auto;
  color: #151317;
}

main {
  flex-grow: 1;
  box-sizing: border-box;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
